<!DOCTYPE>
<html>
<head>
    <title>Sample test</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
	<style>
		body {
			background: #222222;
			color: #AAFFBB;

		}

		#mainWrapper {
			width: 80%;
			margin: 0 auto;
		}

		#console,
		#log {
			background: #444444;
			color: #AAFFBB;
			min-height: 250px;
			max-height: 400px;
			overflow-y: scroll;
			border: 4px solid #202020;
			border-radius: 0.5em;
			box-shadow: inset 0 0 2em 1em rgba(20,20,20,0.5);
			padding: 0 1em;
		}	

		#data {
			width: 80%;
			height: 3em;
			line-height: 1.5em;
			margin: 0.5em 0;
			border-radius: 0.5em;
			padding: 0 1em;
			box-shadow: inset 0 0 0.5em 0.5em #666666;
			float: left;
		}
		#submit {
			float: left;
			width: 20%;
			height: 3em;
			margin: 0.5em 0;
		}
		#console {
			min-height: 30px;
			max-height: 60px;
			overflow: hidden;
		}

		.server_message {
			padding: 0.5em 0;
			margin: 0;
			color: #dd3333;
		}


	</style>
</head>
<body style="">
	<div id="mainWrapper" >
	    <h1>Wax Lyrical</h1>
		<h3><em> 'coz if you can't make it rhyme it ain't worth saying'</em></h3>
		<div id="console"></div>
		<div id="log"></div>

   		<form method='POST' action='./'>
   	    	<input name='data' id="data"></textarea>
   	    	<div><input id="submit" type='submit'></div>
	    </form>
	</div>
   		
		<script type="text/javascript" charset="utf-8">
			var name = 'William Blake';
			var id;
   	     	$(document).ready(function(){
	            $('form').submit(function(event){
					//message sent via POST request
   	             var data  = {
								text: $('#data').val(),
								name: name,
								id: id,
								}
   	             $.post("./", { data: JSON.stringify(data) }, function(data){
   	                 $("#data").val('');
   	             });
   	             return false;
   	         });
				
				//check for websocket support
				// (currently, no backup for older browsers)
   	         if ("WebSocket" in window) {
				  //message received via websocket	
   	           name = prompt('What is your name?')
			   while (name.length < 1){
			   	name = prompt("Pick a name with at least one character. Please.");
			   };
			   var ws = new WebSocket("ws://localhost:{{ port }}/realtime/"); 

				  // ask for name on opening websocket
				  // (only needs to be on client side for now.
				  // currently global variable)
				  ws.onopen = function() {
				  	//name = prompt('What is your name?');
					//while (name.length < 1){
					//	name = prompt('pick a name with at least one character please.');
					var html = $("#console").html("<p class='server_message'>You are now connected</p>");
					};
				  
					//receive message and add to #log
   		          	ws.onmessage = function (evt) {
   	               		var msg_obj = JSON.parse(evt.data);
						switch (msg_obj.type) {
							case 'message':
		   	               		var received_msg = msg_obj.text;
								var html = $("#log").html();
  	 	    	           		html += "<p>"+received_msg+"</p>";
								var log = $("#log");
   	    	        	   		log.html(html);
								log.animate({ scrollTop: log.attr("scrollHeight") - log.height()},200);
								break;
   	         				case 'id':
								id = msg_obj.id;								
								break;
							case 'console':
								console = $("#console");
								console.html('');
								console.html(msg_obj.text);
								break;
							default:
								//
						}
						

				};
   	    	    ws.onclose = function() {};
   	         } else {
   	        	 alert("WebSocket not supported");
   	         }
   	     });
   		 </script>
	</body>
</html>

